// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$letterly-yellow: #FFDE17;
$letterly-light-yellow: #C9C9C3;
$letterly-dark-yellow: #191716;
$letterly-light-blue: #A1D4ED;
$letterly-dark-blue: #072433;
$letterly-grey: #598094;
