// Specific CSS for your home-page

.background-white{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: white;
}

.highlight{
  background-color: $letterly-yellow;
}


@keyframes fadeInButton {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 1;
   }
}

.navbar-toggler{
  border: 2px solid black;
  border-radius: 10px;

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
}
