<div class="col-12 footer bg-light p-2">
  <div class="col-7d-flex flex-column justify-content-center align-items-center pd-3">
    <%= image_tag("logo.png", class:"my-2") %>
    <h3>Copyright © 2022</h3>
    <h4>Write a letter. Share a story.</h4>

    <div class="links d-flex justify-content-center align-items-center">
      <a class="nav-link" href="#">Blog</a>
      <a class="nav-link" href="#">FAQ</a>
      <a class="nav-link" href="#">Contact Us</a>
    </div>
  </div>
</div>
