<div class="banner">
  <div class="typing-header">
    <h1>Write a letter. Share a story.</h1>
  </div>
</div>

<div class="container">
  <h1>Homepage</h1>
  <p>TODO: Fill Content</p>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
