<div class="banner">
  <div class="banner-items d-flex flex-column align-items-center justify-content-center">
    <div class="typing-header">
      <h1>Write a letter. Share a story.</h1>
    </div>
    <div class="cta-buttons d-flex justify-content-evenly ">
    <%= link_to "Send a Letter", pals_path, class: "retro fader px-5 d-flex align-items-center" %>
    <%= link_to "Message in a Bottle", pals_path, class: "retro-blue mx-5 p-4" %>
    </div>
  </div>
</div>

<div class="container">
</div>

<div style="width: 100%; height: 600px;" data-controller="mapbox" data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
