.top-container {
  height: fit-content;
  margin-bottom: 5px;


  .user.wrapper-edit {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
    border-radius: 20px;
    // height: fit-content;
    margin-right: 8px;
    height: 550px;
    // border-radius: 20px; height: fit-content; margin-right: 8px;
    // border-radius: 20px; margin-right: 8px; height: 550px;

    .user-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $letterly-light-yellow;
      padding: 10px;
      width: 99%;
      transition: .4s;
      border-radius: 20px;
      height: fit-content;

      .card-right {
        width: 60%;
        margin-left: 4%;

        h3 {
          font-size: 1vw;
        }
      }

      .card-left {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    .user-card-description {
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      background-color: $letterly-light-yellow;
      padding: 15px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 99%;
      transition: .4s;
      height: 175px;

      // ::-webkit-scrollbar-thumb {
      //   background-color: $letterly-light-yellow;
      // }
    }
  }


  .gridify {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 42px 60px;
    padding: 30px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    p {
      color: $letterly-grey;
    }
  }
}
