.top-container {
  height: fit-content;
  margin-bottom: 5px;

  .user.wrapper {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 20px;
    margin-right: 8px;
    max-height: 500px;
    height: 100%;
    .user-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $letterly-light-yellow;
      padding: 10px;
      width: 99%;
      transition: 0.4s;
      border-radius: 20px;
      height: fit-content;

      .card-right {
        width: 60%;
        margin-left: 4%;
      }

      .card-left {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    .user-card-description {
      background-color: $letterly-light-yellow;
      padding: 15px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 99%;
      transition: 0.4s;
      height: 175px;
    }
  }

  .gridify {
    height: 100%;
    padding: 3%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    p {
      color: $letterly-grey;
    }
  }
}

.user.wrapper-edit{
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 20px;
  margin-right: 8px;
  .user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $letterly-light-yellow;
    padding: 10px;
    width: 99%;
    transition: 0.4s;
    border-radius: 20px;
    height: fit-content;

    .card-right {
      width: 60%;
      margin-left: 4%;
    }

    .card-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .user-card-description {
    background-color: $letterly-light-yellow;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 99%;
    transition: 0.4s;
    height: 175px;
  }
}

@media screen and (max-width: 768px) {
  .gridify {
    grid-template-columns: 1fr !important;
  }
}
