.banner {
  background-image: url("https://cypresspixill.files.wordpress.com/2015/09/stars.gif");
  background-size: cover;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .typing-header {
    color:white;
    width: 100%;
    margin:auto;
    animation: typing 3s steps(22), blink .7s step-end infinite alternate-reverse;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    h1{
      font-size: 3vw;
    }
  }

  @keyframes typing {
    from {
      width: 0
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
}

.map-container h1{
  position: relative;
   width: auto;
  text-align :center;
  margin-top: 35%;
}
