.form-h2 {
  text-align: center;
  padding: 10px;
}

.form-container {
  margin-top: 20px;
  h2 {
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }
}

.form-control {
  border-radius: $radius;
}

.form-card {
  background-color: white;
  border-radius: $radius;
  margin: auto auto 20px auto;
  padding: 20px;
}

.form-inputs {
  border-radius: $radius;
}

.links {
  margin: auto;
}

.form-actions {
  display:flex;
  flex-direction: column;
  max-width: 10vw;
  justify-content: center;
  width:50%;
  margin:auto;
  padding: 20px 0
}

.user_description {
  width: 100%;
  textarea {
    min-height: 200px;
  }
}
