.form-h2 {
  text-align: center;
  padding: 10px;
}

.form-container {
  margin-top: 20px;
  h2 {
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }
}

.form-card {
  background-color: white;
  border-radius: 5px;
  margin: auto auto 20px auto;
  padding: 20px;
}

.form-inputs {
  border-radius: 5px;
}

.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links {
  margin: auto;
}
