.form-outline {
  border-radius: 2px;
  background-color: $letterly-dark-yellow;
  padding: 20px;


}


.form-letter {
  padding: 2%;
  border-radius: 4px;
  background-color: $letterly-light-yellow;
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 60vh;

  #letter_content{
    /* height: auto; */
    background: white;
    margin: 2% 0;
  }
}


.actions {
  width: 100%;
}

h2 strong {
  color:$letterly-light-yellow
}

.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level { display: none; }
