.navbar{
  z-index: 1020;
  box-shadow: 3px 1px 11px rgba(0, 0, 0, 0.164);
}

.navbar-brand img {
  width: 4rem;
}


.nav-link {
  color: $letterly-dark-blue;
}

.nav-link:hover {
  color: $letterly-light-yellow;
}

a {
  color: $letterly-dark-blue;
  text-decoration: none;
}

a:hover{
  color: $letterly-light-yellow;
  text-decoration: none;
}

.logo-left h1{
  font-weight: bold;
  font-size: calc(1.375rem + 1.5vw);
}

.halftone {
  color:black;
}
.halftone:hover {
  color:black;
}

.stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111827;
  color: transparent;
}
