.user.wrapper {
  padding: 1%;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;

  .user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $letterly-light-yellow;
    padding: 1% 2%;
    border-radius: $radius;
    width: 99%;
    transition: .4s;

    .card-right {
      width: 60%;
      margin-left: 4%;

      h3 {
        font-size: 1vw;
      }
    }

    .card-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .hider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.user.wrapper:hover {
  transform: scale(1.05);
  margin: 6% 3% !important;
  transition: all .2s ease-in-out;
  box-shadow: 3px 1px 11px rgba(0, 0, 0, 0.164);
  cursor: pointer;
}

.seperate {
  .list {
    width: 40%;
  }

  .mapboxgl-map {
    transition: .4s;
    margin-left: 1%;
    height: 80vh;
    border-radius: 20px;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  // .user.wrapper:hover~.mapboxgl-map {
  //   transition: .4s;
  //   height: 20vh !important;
  // }
}

// .seperate:hover {
//   .mapboxgl-map {
//     transition: .4s;
//     margin-left: 3% !important;
//   }
// }

.right-side {
  width: 60%;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 25px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  // -webkit-transition: color 0.2s;
  font-size: 12px;
  width: 100%;
}

.two-word-tag {

  background: #eee;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: auto;
  line-height: 26px;
  padding: 0 25px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  // -webkit-transition: color 0.2s;
  font-size: 12px;
  margin: 25px;
}


.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.two-word-tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: rgb(201, 201, 195);
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.two-word-tag::after {
  background: rgb(201, 201, 195);
  border-bottom: 26px solid transparent;
  border-left: 10px solid #eee;
  border-top: 26px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: $letterly-light-blue;
  cursor: pointer;
}

.tag:hover::after {
  border-left-color: $letterly-light-blue;
}

.two-word-tag:hover {
  background-color: $letterly-light-blue;
  cursor: pointer;
}

.two-word-tag:hover::after {
  border-left-color: $letterly-light-blue;
}
