.user.wrapper {
  padding: 1%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;

  .user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $letterly-light-yellow;
    padding: 1% 2%;
    border-radius: 5px;
    width: 99%;
    transition: .4s;

    .card-right {
      width: 60%;
      margin-left: 4%;

      h3 {
        font-size: 1vw;
      }
    }

    .card-left {
      width: 40%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .hider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.user.wrapper:hover {
  transform: scale(1.1);
  margin: 6% 3% !important;
  transition: all .2s ease-in-out;
}

.seperate{
  .list  {
    width: 40%;
  }

  .mapboxgl-map{
    transition: .4s;
    margin-left: 1%;
    height:80vh;
    border-radius:20px;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .user.wrapper:hover ~ .mapboxgl-map{
    transition: .4s;
    height:20vh !important;
  }
}

.seperate:hover{
 .mapboxgl-map{
    transition: .4s;
    margin-left:3% !important;
  }
}

.right-side{
  width: 60%;
}
