// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/footer";
@import "components/navbar";
@import "components/banner";
@import "components/user_card";
@import "pages/home";
@import "pages/index";

@import "components/form";
@import "components/retro";
@import "components/retroaction";
@import "inboxes/index";


// Mapbox
@import "mapbox-gl/dist/mapbox-gl";
@import "components/map";

.flex-wrapper{
  display: flex;
  min-height: calc(85vh - 145px);
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body{
  min-width: 100%;
}

//Rich Text
@import "./actiontext.scss";
@import "components/letter";
