<ol>
<% @me.inboxes.reverse.each do |inbox| %>
 <% receiver = inbox.first_user == current_user ? inbox.second_user : inbox.first_user%>
  <li><%= link_to "📧 Inbox - #{receiver.name}", pal_inbox_path(@me.id, inbox)  %></li>
<% end %>

</ol>
