<ol>
<% @me.inboxes.each do |inbox| %>
  <% inbox.letters.each do |letter| %>
   <li> From Sender - <%=  letter.sender.name %> <strong><%=  letter.content %></strong></li>
   <br>
  <% end %>
<% end %>
</ol>
